.about {
  background: $turq;
  .wrapper {
    display: flex;
    color: $white;
    font-family: $Ral;
    justify-content: space-between;
    max-height: 700px;
    .about-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      .about-title {
        font-size: 90px;
      }
      .about-alt-text {
        font-size: 17px;
        font-weight: $lite;
        line-height: 1.6;
      }
    }
  }
}
