.foot {
  background-color: $grey;

  .wrapper {
    display: flex;
    justify-content: space-between;
    color: $white;
    height: 80px;

    .copyrigth {
      h2 {
        font-size: 16px;
        font-family: $Ral;
        font-weight: $lite;
        color: $lightgrey;
      }
    }

    .foot-item {
      display: flex;
      align-items: center;
    }

    .made-with {
      .footer-text {
        font-size: 16px;
        font-family: $Ral;
        font-weight: $lite;
        color: $lightgrey;

        .footer-text-red {
          color: $darkred;
        }
      }
    }
  }
}
