.header {
  background-color: $white;
  background: url('img/header-bg.png');
  height: 100vh;

  .wrapper {
    height: 100vh;
    font-family: Raleway;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .scroll-center {
      align-self: center;
      margin-bottom: 50px;
    }

    .nav {
      margin-top: 30px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .nav-right {
        .nav-list {
          @include reset-list;
          display: flex;
        }

        .nav-link {
          margin: 0 15px 0 15px;
          text-align: center;
          text-decoration: none;
          font-size: 25px;
          color: black;
          letter-spacing: -1px;
          font-weight: 700;

          &:focus {
            border-top: 4px solid orange;
          }
        }
      }
    }

    .home {
      margin-left: 50px;
      display: flex;
      flex-direction: column;
      width: 370px;

      .home-text {
        .home-title {
          letter-spacing: -1px;
          font-size: 60px;
          font-weight: 900;
        }

        .home-alt-text {
          letter-spacing: -1px;
          font-size: 17px;
          font-weight: 300;
        }

        .get-free-now {
          margin-top: 50px;
          border: none;
          background-color: $orange;
          color: $white;
          height: 56px;
          width: 200px;
          font-family: Raleway;
          font-size: 27px;
          font-weight: 300;
          box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.3);
        }
      }
    }
  }
}
