// colors
$white: #fff;
$black: #000;
$grey: #262626;
$lightgrey: #7e7e7e;
$turq: #00b1b1;
$lightblue: #70bfff;
$blueish: #78dad9;
$blue: #5585a2;
$orange: #ff6033;
$red: red;
$reddish: #f72b3b;
$darkred: #a82944;
$yel: #ffe92f;
$green: #96b92c;
$purp: #b07cf7;

// fonts
$Ral: 'Raleway';
$lite: 300;
$med: 400;
$bold: 700;
$heavy: 900;

//
