@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;700;900&display=swap');

@import './variables';
@import './breakpoints';
@import './mixins';
@import './header';
@import './about';
@import './services';
@import './gallery';
@import './subscribe';
@import './blog';
@import './contact';
@import './footer';

* {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  height: 100%;
}

body.scroll-lock {
  overflow: hidden;
}

// sass --watch scss/style.scss ./style.css
